/* universal selector */
*{
    color: black;
}

/* element selector */
button{
    color: rgb(239, 10, 6);
    background-color: rgb(185, 229, 9);
}

body{
    background-color: rgb(226, 246, 7);
}

/* selecting specific element by its unique id */
#final-submit{
    color: rgb(236, 0, 8);
    background-color: darkslateblue;
}

#login-button{
    color: black;
    background-color: cornflowerblue;
}

/* "#" is used for the id */
#signup-button{
    color: black;
    background-color: coral;
}

span{
    color: #000200;
}

/* "." is used for the class name */
.ingredient{
    background-color: rgb(19, 2, 75);
    color: #ebe5e5;
}

/* Desendant selector */
ul li{
    color: rgb(86, 101, 135);
}

/* Adjacent selector */
h2 > u{
    color: purple;
}


/* pseudo element */
p::selection{
    background-color: aquamarine;

}

/* pseudo element start with :: */
h2::first-letter{
    font-size:larger;
}


/* important note : */
/* ID-selector > Class-selector > Element-selector */