input[type="password"]{
    color: chartreuse;
}

input[type="text"]{
    color: brown;

}
/* pseudo class attribute */
button:hover{
    background-color: rgb(201, 114, 114);
    color: bisque;
}

.indirect:hover{
    color: darkseagreen;
    text-decoration: wavy underline;
}

