h1{
    background-color: burlywood;
    border: 2px solid black;
}

span{
    color: black;
    background-color: aquamarine;
    border: 2px dashed darkblue;
    margin: 2px;
    padding: 2px;
}