.first{
    position: relative;
    width: 500px;
    height: 500px;
    background-color: darkslategrey;
}

/* #rgba{
    width: 250px;
    height: 250px;
    background-color: darkseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

/* the rgba stands for the {red, green, blue, alpha channel for the opacity} */
#rgba {
    color: white;
    width: 250px;
    height: 250px;
    background-color: rgba(6, 235, 243, 0.55);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#circle{
    margin:25px;
    background-color: blueviolet;
    width: 500px;
    height: 500px;
    /* transition property for the animation */
    transition: 2s;
}

#circle:hover{
    background-color: cadetblue;
    border-radius: 50%;
}

#second div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin: 20px 0;
    transition: margin-left 3s, border-radius 3s;
}

#second:hover div{
     background-color: lightskyblue;
     margin-left: 250px;
     border-radius: 50%;
     
 }

 #second div:nth-of-type(1){
    transition-timing-function: ease-in;
 }

 #second  div:nth-of-type(2){
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1) ;
 }

 #second  div:nth-of-type(3){
    transition-timing-function: ease-in-out ;
}
