/* linked with the sementic tags file */

h1{
    text-align: left;
    text-decoration: plum wavy underline;
    font-size: 35px;
}

footer{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

a{
    text-decoration: none;
}

p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

