/* element selector */
h1{
    text-align: center;
    /* text-transform: uppercase; */
    color: blueviolet;
    background-color: aquamarine;
    /* font-weight: 500; */
    text-decoration: brown underline wavy;
    font-size:xxx-large;
}

/* element selector */
p{
    color: antiquewhite;
    background-color: brown;
    line-height: 2.5;
    /* list-style:decimal; */
}

/* class selector */
.para1{
    background-color: blue;
    color:aliceblue;
}

/* id selector */
#para2{
    color: black;
    background-color: chartreuse;
}

/* priority of selectors
   id selector > class selctor > element selector */

.formdata{
    background-color: blueviolet;
    color: aliceblue;
}

input[type="text"]:nth-last-of-type(2n){
    border: 2px solid red;
    color:rgb(4, 48, 48);
    border: 5px;
}

